body {
  margin: 0;
  padding: 0;
  background: #0b0b0b;
  font-family: "Consolas", monospace;
  color: #ddd;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 50px auto;
  text-align: center;
}

.title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 16px;
  color: #aaa;
  margin-bottom: 30px;
}

.upload-box input {
  margin-top: 20px;
  padding: 12px;
  background: #1c1c1c;
  border-radius: 10px;
  color: #ddd;
  border: 1px solid #333;
  font-weight: bold;
  cursor: pointer;
}

.upload-box input:hover {
  background: #2a2a2a;
}

.buttons {
  margin-top: 20px;
}

.btn {
  background: #1c1c1c;
  color: #ddd;
  border: 1px solid #333;
  padding: 12px 25px;
  margin: 6px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.3s ease;
}

.btn:hover {
  background: #333;
  border-color: #555;
}

.btn-secondary {
  background: #333;
  color: #ddd;
  border: 1px solid #555;
}

.btn-secondary:hover {
  background: #555;
  border-color: #777;
}

#output {
  margin-top: 30px;
  white-space: pre;
  font-size: 9px;
  line-height: 9px;
  overflow-x: auto;
  background: #1c1c1c;
  color: #ddd;
  border: 1px solid #333;
  padding: 15px;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #111;
}

* {
  transition: all 0.3s ease-in-out;
}
